[Unit]
Description=Elixir Practice

[Service]
Type=simple
User=hw03user
Group=hw03user
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4790"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw03user/elixir/webdevHW03/elixir-practice/
ExecStart=/bin/bash /home/hw03user/elixir/webdevHW03/elixir-practice/start.sh

[Install]
WantedBy=multi-user.target
